{% extends "rdrf_cdes/base.html" %}
{% load countries %}
{% load de_camelcase %}
{% load static from staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/jquery-1.11.4/themes/smoothness/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>
    <script type="text/javascript">
        function not_implemented() {
            alert("This feature is coming soon...");
        }
    
        $(document).ready(function(){
            $("#form-other-clinician").hide();
            
            $("#id_clinician").on('change', function() {
                if(this.value === "clinician-other") {
                    $("#form-other-clinician").slideToggle();
                    $("#id_other_clinician_name").prop('required', true);
                    $("#id_other_clinician_hospital").prop('required', true);
                    $("#id_other_clinician_address").prop('required', true);
                    
                } else {
                    $("#form-other-clinician").slideUp();
                    $("#id_other_clinician_name").prop('required', false);
                    $("#id_other_clinician_hospital").prop('required', false);
                    $("#id_other_clinician_address").prop('required', false);
                }
            });

            $("#id_date_of_birth").datepicker({
                "dateFormat": "yy-mm-dd"
            });
            
            $.get("{% url 'v1:clinician-list' registry_code %}", function(data) {
                clinician_drop = $("#id_clinician");
                $.each(data, function(i, item){
                    clinician_drop.append($('<option>', { value : item.id }).text(item.full_name)); 
                });
                clinician_drop.append($('<option>', { value : 'clinician-other' }).text('Other - not listed'));
            });

            $("#registration-cancel").click(function() {
                $("#new-patient-form").slideUp();
            });
            
            $("#id_use_parent_address").click(function() {
                if($(this).prop("checked")) {
                    $("#new_patient_address").slideUp();
                } else {
                    $("#new_patient_address").slideDown();
                }
            });
            
            var state_lookup_url = "{% url 'v1:state_lookup' 'XX' %}";
            $("#id_country").change(function() {
                var states = $("#id_state");
                states.empty();
                states.append($('<option>', { value : -1 }).text("State / County / Province / Region"));
                $.getJSON( state_lookup_url.replace('XX', this.value), function( data ) {
                    $.each( data, function( key, val ) {
                        states.append($('<option>', { value : val.code }).text(val.name));
                    });
                });
            });
        });
        
        function go_to_page(obj) {
            window.location.href = $(obj).find(":selected").val();
        }
    </script>
{% endblock %}

{% block extra_menu %}
    {{ block.super }}
    {% if request.user.is_parent %}
        <li><a href="#" id="add-patient-btn" data-toggle="modal" data-target="#new_patient_modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Add a Patient' %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <blockquote>
            <h4>Welcome {{request.user.first_name}} {{request.user.last_name}} to the Angelman Registry</h4>
        </blockquote>
        
        <div class="alert alert-warning">
            <ul>
                <li>Please first provide your consent to participate in the registry by clicking on the link to 'Please sign consent'.</li>
                <li>Once you have provided consent, you may access the Registry Forms by clicking on the 'Forms' dropdown.</li>
                <li>To change your own personal details, click on "your name" (in the menu bar) and go to "Account".</li>
                <li>To add another patient, click on "Menu" and go to "Add a patient".</li>
            </ul>
        </div>

        <div class="modal fade" id="new_patient_modal" tabindex="-1" role="dialog" aria-labelledby="newPatientModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'New Patient' %}</h4>
                    </div>
                    <form class="form-horizontal" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" name="id_parent" value="{{parent.id}}">
                            <div class="form-group top-separator">
                                <label for="first_name" class="col-sm-2 control-label">{% trans 'First Name' %}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-sm-2 control-label">{% trans 'Surname' %}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_surname" maxlength="30" name="surname" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date_of_birth" class="col-sm-2 control-label">{% trans 'Date of Birth' %}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="id_date_of_birth" name="date_of_birth" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{% trans 'Gender' %}</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label><input type="radio" id="id_gender" name="gender" value="M" required>{% trans 'Male' %}</label>
                                        <br>
                                        <label><input type="radio" id="id_gender" name="gender" value="F" required>{% trans 'Female' %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="clinician" class="col-sm-2 control-label">{% trans 'Clinician' %}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="id_clinician" name="clinician" required>
                                        <option value="-1">{% trans 'Choose your preferred Clinician' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div id="form-other-clinician">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans "Name" %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="Clinician's Name" id="id_other_clinician_name" name="other_clinician_name" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans "Hospital" %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="Clinician's Hospital" id="id_other_clinician_hospital" name="other_clinician_hospital" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans "Address" %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="Clinician's or Hospital's Address" id="id_other_clinician_address" name="other_clinician_address" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans "Phone Number" %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="Clinician's Phone Number" id="id_other_clinician_phone_number" name="other_clinician_phone_number" type="text" />
                                    </div>
                                </div>
                                <div class="form-group bottom-separator">
                                    <label class="col-sm-2 control-label">{% trans "Email" %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="Clinician's Email" id="id_other_clinician_email" name="other_clinician_email" type="text" />
                                    </div>
                                </div>
                                <hr/>
                            </div>
        
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{% trans "Use parent's address?" %}</label>
                                <div class="col-sm-10">
                                    <input name="use_parent_address" type="checkbox" id="id_use_parent_address" />
                                </div>
                            </div>
        
                            <div id="new_patient_address">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Address' %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_address" maxlength="100" name="address" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Suburb' %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_suburb" maxlength="30" name="suburb" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Postcode' %}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="id_postcode" maxlength="30" name="postcode" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'Country' %}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="id_country" name="country">
                                            <option value="-1">{% trans 'Choose one' %}...</option>
                                            {% countries as countries %}
                                            {% for con in countries %}
                                                <option value="{{con.alpha2}}">{{con.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans 'State' %}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="id_state" maxlength="30" name="state">
                                            <option value="-1">State / County / Province / Region</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="submit" id="registration-submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">#</th>
                    <th class="col-md-2">{% trans 'Given Names' %}</th>
                    <th class="col-md-2">{% trans 'Surname' %}</th>
                    <th class="col-md-2">{% trans 'Date of Birth' %}</th>
                    <th class="col-md-2">{% trans 'Centre' %}</th>
                    <th class="col-md-2">{% trans 'Forms' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr {% if not patient.consent %}class="danger"{% endif %} >
                        <td>
                            {{ forloop.counter }}
                            {% if patient.patient.id = parent.self_patient.id %}
                                <span class="label label-primary">{% trans "Self Patient" %}</span>
                            {% endif %}
                        </td>
                        <td>{{patient.patient.given_names|title}}</td>
                        <td>{{patient.patient.family_name|title}}</td>
                        <td>{{patient.patient.date_of_birth|date:"jS F Y"}}</td>
                        <td>
                            {% if patient.patient.clinician %}
                                {% for wg in patient.patient.clinician.working_groups.all %}
                                    {{wg.name}}
                                {% endfor %}
                            {% else %}
                                {% trans 'Unallocated' %}
                            {% endif %}
                        </td>
                        <td>
                            {% if patient.consent %}
                                <select onchange="go_to_page(this);">
                                    <option>-----</option>
                                    <option value="{% url 'consent_form_view' registry_code patient.patient.id %}">{% trans "Consents" %}</option>
                                    <option value="{% url 'patient_edit' registry_code patient.patient.id %}">{% trans 'Demographics' %}</option>
                                        {% for form in patient.forms %}
                                            <option value="{% url 'registry_form' registry_code form.form.id patient.patient.id patient.context_id %}">
                                                {{form.progress}}%
                                                {% if form.current %}
                                                    &#10004;
                                                {% else %}
                                                    &#10006;
                                                {% endif %}
                                                {{form.form.name|de_camelcase}}
                                                {% if form.readonly %}
                                                    ---READONLY---
                                                {% endif %}
                                            </option>
                                        {% endfor %}
                                </select>
                            {% else %}
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <a href="{% url 'consent_form_view' registry_code patient.patient.id %}">{% trans 'Please sign consent' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-info">{% trans 'Please log in to access the registry.' %}</div>
    {% endif %}
{% endblock %}
